[2018-01-22 17:27] drubin opened #2 "Allow limiting access to only authenticated users"
Related to https://github.com/bufferoverflow/verdaccio-gitlab/pull/1

It would be great to limit who has access to view the npm packages that are published.

Currently even adding `access: $authenticated` doesn't limit access.

[2018-01-22 22:24] bufferoverflow commented on #2
you are welcome to test this with 0.0.5 , please close the issue if it works properly on your side.

[2018-01-23 13:05] drubin commented on #2
@bufferoverflow Thank you for adding this so quickly, Your fix is much better than mine.

[2018-01-23 13:05] #2 closed

[2018-01-23 13:28] cdaguerre opened #3 "Self hosted gitlab"
I just installed this on our self hosted gitlab instance and get 500s when I try to login.
Any help would be greatly appreciated

[2018-01-23 13:41] cdaguerre commented on #3
Actually I just figured that you get a 500 if auth fails. It works with valid credentials.

[2018-01-23 13:41] #3 closed

[2018-01-23 13:42] cdaguerre commented on #3
Maybe related: https://github.com/verdaccio/verdaccio/issues/485

[2018-01-23 14:18] cdaguerre opened #4 "Use with CI_JOB_TOKEN"
Is it possible to login to verdaccio with the `gitlab-ci-token` user and the `$CI_JOB_TOKEN`env var during CI builds?

[2018-01-23 16:40] bufferoverflow commented on #4
Not yet supported, but on the list https://github.com/bufferoverflow/verdaccio-gitlab/blob/master/README.md#todo

[2018-01-23 17:22] drubin opened #5 "Info: Owned groups vs Master access"
I would like to know why your intention of only limiting it to owned groups vs groups a user has write access to?

Seems like something that doesn't really match up. In most cases, Master access seems to make more sense.

Is this due to a limitation on the gitlab api API?  https://docs.gitlab.com/ce/api/groups.html#list-groups

[2018-01-23 22:48] bufferoverflow commented on #5
I agree master would make sense. However, we would need a nice api on gitlab side to get groups where the authenticated person is master in a similar way as `owner=true` on the group api endpoint. Otherwise, we have to do a lot of queries during the authentication phase and that's definitive not what a like to do.

[2018-02-02 20:30] bufferoverflow opened #7 "CONTRIBUTING.md"

[2018-02-02 20:31] bufferoverflow opened #8 "remove npm link and add a verdaccio.js to run it"
depends on verdaccio 3 release

[2018-02-02 20:31] bufferoverflow opened #9 "use eslint"

[2018-02-02 20:32] bufferoverflow opened #10 "repolinter compliant"

[2018-02-02 20:34] bufferoverflow commented on #4
combine somehow with `npm token` , https://github.com/verdaccio/verdaccio/issues/541

[2018-02-02 20:35] bufferoverflow opened #11 "how to handle group owner ship changes? timeout?"

[2018-02-02 20:35] bufferoverflow opened #12 "use openid connect for web ui"

[2018-02-03 11:52] #9 closed

[2018-02-05 16:39] anselmstordeur opened #13 "Authenticate is called for every package install"
When a package is not scoped we don't need to call authenticate all the time. We DDOSed our private GitLab instance when anyone installed a lot of packages, because GitLab was requested several times even if the package asked for was not scoped and available on public npm.

Request pile up very quickly when installing `express` for example. It makes a request for every package used by `express`.

[2018-02-05 16:46] anselmstordeur commented on #13
We tried to implement a cache for the requests to GitLab and failed, because it seems that the file is reloaded every time and we need a persistent cache in a file for example. Caching in a file could be a bad idea, because I don't know how this file is loaded and if it is threadsafe.

[2018-02-05 17:10] bufferoverflow commented on #13
Why do you have to limit access? I suggest to only use authentication for publishing. As you figured out there is no caching of credentials in place.

[2018-02-05 21:09] anselmstordeur commented on #13
We set up verdaccio for private modules. We want to use the features of npm and not install our (proprietary) modules from GitLab or publish them on npm (registry.npmjs.org)...

Would be great to use GitLab as authentication provider, because we already use it. Caching the groups would be it. Group owners are not changing very frequently.... Do you have any idea how that could be achieved?

[2018-02-24 03:01] phenomax opened #14 "Web interface does not work"
When activating the web interface, no static file can be found

log
[code]

I am using the most recent version of verdaccio-gitlab on Debian 8 with npm `v5.6.0` and node `v9.5.0`

[2018-03-06 17:48] qtiki opened #15 "Can't connect to a gitlab server with https:// using custom CA signed certificates"
The plugin fails to connect to a private gitlab instance with https:// protocol if the host's certificate is signed by a custom Certificate Authority. I believe this is related to https://github.com/nodejs/node/issues/4175

It seems that [sinopia-gitlab](https://www.npmjs.com/package/sinopia-gitlab) supports a custom ca certificate via the `gitlab_ca_file` config option, so maybe something similar

[2018-03-07 16:20] bufferoverflow commented on #15
merge requests are welcome ;-)

[2018-03-16 06:54] qtiki commented on #15
I just bumped into this: https://nodejs.org/api/cli.html#cli_node_extra_ca_certs_file

Seems that since Node v7.3.0 it is possible to work around this issue with an environment variable. I haven't yet tried this with verdaccio-gitlab, but it did indeed fix a similar issue I was having with [semantic-release/gitlab](https://github.com/semantic-release/gitlab). I'll post an update here when I get ar

[2018-05-12 21:19] bufferoverflow opened #19 "use ES6 classes"
https://github.com/bufferoverflow/verdaccio-gitlab/pull/18#discussion_r186518808

[2018-05-13 08:57] #8 closed

[2018-05-28 08:33] torvitas commented on #13
Any chance this is going to be fixed?

[2018-05-28 15:01] bufferoverflow commented on #13
PR’s are welcome!

[2018-06-02 00:13] kopax commented on #13
I got here because of similar issue. The ldap plugin also get spammed and it is not possible to use user account.

It look  not possible for that plugin,

We wanted to try that one too, GitLab should handle less the spam than OpenLdap but the ldap plugin does not work well at all for the same reason: https://github.com/Alexandre-io/verdaccio-ldap/issues/33

From what I understand, the fix should b

[2018-06-02 12:04] bufferoverflow commented on #13
https://github.com/idangozlan/verdaccio-bitbucket/blob/master/src/cache.js could be an option to implement this, see also its usage https://github.com/idangozlan/verdaccio-bitbucket/blob/master/src/index.js#L92

[2018-06-03 11:10] kopax commented on #13
Interesting, the thing is that it use the application memory to store the object.
This will still result in multiple login if you scale verdaccio up. This could definitively work for the ldap plugin. Why don't you use this in the gitlab plugin? Do you prefere a db service?

[2018-06-04 12:49] YoannMa opened #20 "Uppercase authentication issue"
It seems you check the username in the login with case sensitivity

NPM CLI ask you to login with a lowercase username
Gitlab doesn't allow you to have the same username with a different case

So if you have an username with an uppercase, you can login in the Web UI but not in the CLI.

[2018-06-20 08:34] bufferoverflow commented on #13
I think it makes sense to use https://www.npmjs.com/package/node-cache

[2018-07-11 19:16] dlouzan commented on #13
Just FYI, I'm working on an implementation using node-cache as suggested by @bufferoverflow. It's not a perfect solution, but a small, manageable solution. By comments of the maintainer in verdaccio/verdaccio/issues/732, I don't think support for it will be added in the parent project.

[2018-07-12 06:03] bufferoverflow commented on #19
#21

[2018-07-12 06:03] #19 closed

[2018-07-12 07:01] kopax commented on #13
@dlouzan very good news, let us know when you need people for testing it. I may be able to find time.

[2018-07-13 13:22] bufferoverflow commented on #5
GitLab 11.2 will support privide the option to request min_access_level, see https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/20478

[2018-07-13 15:19] dlouzan commented on #13
PR in progress; it would be very good if at least two people could review / test this locally. This PR builds on top of another one I made yesterday, and it changes quite a lot of things in the auth handling (I hope for the good).

Definitely some automated testing is needed, but we will see :-)

[2018-07-13 15:47] bufferoverflow commented on #13
@kopax I would appreciate if you could test #23 and comment over there.

[2018-07-13 16:07] kopax commented on #13
Oh too bad =/, I thought you were doing it on the https://github.com/Alexandre-io/verdaccio-ldap which is the one I wanted to use. Both plugins share the same problem.

I will test it for you now, and will tell you. Maybe this can be implemented in verdacio-ldap too if it work?

[2018-07-13 19:41] dlouzan commented on #13
Ok, I'm sorry for you but I'm not sure how you though this was being done in the ldap plugin, we are on the gitlab plugin repo xD

The cache is completely generic, so adaptations to other plugins are quite easy.

[2018-07-13 19:54] kopax commented on #13
@dlouzan I think I was watching other repo to see how they managed to deal with the issue.

I got delayed today but I will definitively test it within next week. Maybe we will replace our ldap auth with this one.

@juanpicado from verdaccio repo recommended here https://github.com/verdaccio/verdaccio/issues/732#issuecomment-394052082 to implement this in a separate module. This way it could be use

[2018-07-14 16:53] kopax commented on #13
I am building a docker image in order to perform testing.

One note, I add to use `FROM node:10.1.0-alpine` instead of `FROM node:carbon-alpine` for building the image otherwise I was having:

[code]

I will let you know very soon of the result, we were experiencing errors in a very bad way and it will be straightforward to verify.

[2018-07-15 15:59] bufferoverflow commented on #13
@kopax you need to define `gitlab: true` within packages section, see https://github.com/bufferoverflow/verdaccio-gitlab#use-it then owner of groups are allowed to publish.

[2018-07-16 08:15] kopax commented on #13
That was the part I understand @bufferoverflow .

The part I am not understanding is to know

owner of which group is allowed to publish what?

Again, a concret example would help.

[2018-07-16 12:55] bufferoverflow commented on #13
If you are owner of a group within gitlab, then you are allowed to publish a package or a package scope with the same name. So if you are owner of `mycom` and `myorg` on GitLab you can publish scoped packages `@mycom/*` and `@myorg/*` or `mycom` and `myorg` packages.

[2018-07-16 13:56] #13 closed

[2018-07-16 16:31] dlouzan commented on #13
Just a side note: you are also owner of packages under your user name as group.

[2018-07-16 16:37] dlouzan commented on #13
@kopax I can make another PR, but I don't understand everything (the formatting of your comment is a bit chaotic):
- I agree the verdaccio dockerfile version should be updated, I think it should be the same version as in package.json (as of today 3.1.1). I didn't really work with the docker build, it needs some work.
- I don't understand the issue with `files` in the build, could you please elabor

[2018-07-16 16:46] kopax commented on #13
I agree for the formatting.

About Dockerfile, you can update it directly. I am not sure if the image is released to the Docker repo but I believe it should be. (travis CI can be used for that).

So far, I think the Dockerfile must be build by the client and deployed somewhere, @bufferoverflow needs to confirm.

Because of that, I had to manually add the `verdaccio-gitlab` in the container to inst

[2018-07-16 16:49] dlouzan commented on #13
@kopax Ok, so your suggestion regarding the `files` is to remove it completely from `package.json`, and then setup what should be included in the release in the `.npmignore` file, right?

[2018-07-16 16:50] kopax commented on #13
Yes, `files` should be banned from `package.json`. It is the worst thing ever.

[2018-07-18 07:22] dlouzan commented on #13
Ok, thank for the insights. Later today I'll be publishing some corrections in the currently active PR fixing this. I'll make another one for fixing docker.

[2018-07-19 15:12] fh1ch opened #28 "Invalidate token on logout"
Discussed with @bufferoverflow.

- See https://github.com/npm/npm-registry-client/blob/latest/lib/logout.js#L15

[2018-07-20 16:22] bufferoverflow opened #32 "is dumb-init really required?"
Today as used within verdaccio docker image, dumb-init is used, see https://github.com/bufferoverflow/verdaccio-gitlab/blob/master/Dockerfile#L39 .

Do we really need that ? How is kubernetes and Openshift handling this?

- https://github.com/nodejs/docker-node/blob/master/docs/BestPractices.md#handling-kernel-signals
- https://github.com/krallin/tini#using-tini

The node image is using the node u

[2018-07-21 10:18] juanpicado commented on #32
cc: @sergiohgz

[2018-07-21 10:19] juanpicado commented on #32
I wonder whether @markpeterfejes has an opinion on it.
https://github.com/verdaccio/verdaccio/commit/32709843fb17614e19e84500026ad6e4a45bff69

[2018-07-22 16:53] kopax commented on #13
Any chances to get a release soon?

[2018-07-22 17:04] kopax commented on #13
@bufferoverflow regarding configuration :

[code]

I am trying to undersdtand how does that work ? Does all the scoped modules get published to the private and public registry ?

What if a scopped module is private and we do not want to use npmjs?

[2018-07-22 21:30] LennardWesterveld opened #33 "Question: how do i publish a package"
Hi,

I have a group on gitlab.com and my verdaccio is configured but i got a access denied when trying to publish a package.

This is my configuration:

[code]

I successfully logged in with `npm adduser --registry <url-here>`  after that i changed my package name to @GroupName/package-name but when i want to publish it to the registry i got a access denied. `user username is not allowed to publis

[2018-07-23 08:46] dlouzan commented on #32
We are trying to run the docker image in openshift and having some issues with permissions. We are almost sure it is because of the default policy of openshift of randomizing user guids on startup. Trying some official docker hub images in openshift shows similar results, some work and some don't, depending on how the docker build is made.

We'll be posting some information about the findings, in

[2018-07-23 09:21] dlouzan commented on #13
That configuration means that in order to access or publish any scoped package, you need to be authenticated in verdaccio. On top, the gitlab plugin will only allow you to publish the package if either:
- Your user name is exactly the same as the scope of the package, or
- You are owner in gitlab of a group that matches the name of the scope (equivalently, as long as you  are owner of a group, you

[2018-07-23 09:31] dlouzan commented on #33
I'm assuming that your `USER` and `GroupName` values are literal, not substituted in the ticket. I just tried this in my local env and npm didn't even let me login:

[code]

[2018-07-23 09:43] LennardWesterveld commented on #33
Hi @dlouzan yea i renamed USER, one of the problems is also indeed that the username must be lowercase but gitlab accepts also uppercase names. I anonymized the names i using now a lowercase username: "user", and a group name like this "GroupName".

[2018-07-23 09:52] dlouzan commented on #33
In the meantime I was doing some tests with lowercase users locally and scoped package and I also do get a denied publish, we might have an actual issue here.

/cc @bufferoverflow @ercanucan

[2018-07-23 10:34] dlouzan commented on #33
Mmm nope, false alarm on my side. I was able to push, with a mix of uppercase / lowercase. Just be sure, I used `user` as name and `GroupName` as group. Then I modified my local `package.json` to use the group and tried to publish, no issues (don't mind the extra log messages, I modified them a bit in my local env):

[code]

[2018-07-23 12:31] LennardWesterveld commented on #33
Found the problem! my Kubernetes setup resolves the variables in the config file (ConfigMap).
Sorry for that, thanks for checking @dlouzan!, the issue with the username still stands btw but thats already mentioned in #20.

[2018-07-23 12:31] #33 closed

[2018-07-24 11:11] dlouzan commented on #20
The current logic is to pass directly whatever is provided, without any casing conversion, yes.

We could apply the logic that all operations in the npm registry apply a lowercase function to the provided data. Now my question is: how does gitlab react to this? What if a user is registered with uppercase? do both variants map to the same user? are the gitlab libraries ok with any of the variants?

[2018-07-24 11:18] dlouzan commented on #20
I just tried registering `USER` in my local gitlab:
- That worked, with uppercase
- The system does not allow me now to setup another user with the same characters as lowercase

But when I try to login in npm with the lowercase version, gitlab rejects the login with invalid credentials.

Sooo, what is the correct approach here? Is there any settings / policy in gitlab to convert different case use

[2018-07-24 13:17] YoannMa commented on #20
Indeed, I thought you could login on Gitlab with a different case, but it seems you can't.

So the issue isn't from verdaccio nor this plugin, it comes from either the NPM CLI lowering the username or Gitlab not testing against lowercase.

[2018-07-24 13:30] dlouzan commented on #20
@bufferoverflow I think we can close this, not much we can do on this end, but it's worth keeping in mind this limitation

[2018-07-24 13:30] #20 closed

[2018-07-25 10:35] ercanucan opened #34 "Refactor Dockerfile"
Currently, the Dockerfile in verdaccio-gitlab contains a lot of commonalities with verdaccio's Dockerfile.

I believe it would be nice to refactor the verdaccio-gitlab's Dockerfile to use verdaccio' as a base image and customize from there.

@bufferoverflow @dlouzan what do you think?

[2018-07-25 13:02] juanpicado commented on #34
It would be great coordination with https://github.com/verdaccio/verdaccio/issues/836

[2018-07-28 14:51] dlouzan commented on #34
Created https://github.com/bufferoverflow/verdaccio-gitlab/pull/35

[2018-07-31 08:36] bufferoverflow commented on #32
Thanks all for the investigations on this!

[2018-07-31 08:36] #32 closed

[2018-08-03 09:52] dlouzan commented on #5
How should we approach gitlab version compatibility? We have several options here:
- We release this functionality as a new verdaccio-gitlab major version, requires gitlab 11.2+
- We make the code compatible with e.g. at least gitlab 11.x (or whichever version the owner api functionality was added in) and default to the current owner-only functionality in case we are not in 11.2+. For this we need

[2018-08-03 09:56] drubin commented on #5
They offer a version API https://docs.gitlab.com/ee/api/version.html but it requires authentication which is against the plugin's goals.

I believe we could leave the default behaviour as it currently is and introduce a new config which switches to this new functionality.

Then later we could release a major version upgrade that makes this the default if we want.

I wouldn't have an issue either w

[2018-08-03 10:04] dlouzan commented on #5
Ok, I think I'll have a first working implementation by the end of today, I'll work on a feature branch and let's see what @bufferoverflow thinks of this.

[2018-08-03 18:29] dlouzan commented on #5
@bufferoverflow
I'm still working with the code in my own branch, but I'm faced with the following issues.

I'm working on a configuration like this:
[code]

The `accessControl: $owner` would replicate the previous behaviour; the `accessControl: $min_access_level` implements the new functionality.

Each package definition would allow to set the access and publish rules independently, with the poss

[2018-08-03 18:33] dlouzan commented on #5
@bufferoverflow And now that I think about it a bit more in detail, I think that if we allow to configure the access level on each package definition, we potentially need to query a set of groups for each combination `min_access_level` - `user`, since all combinations might be possible. Maybe we prefer to set this `min_access_level` as a fixed plugin configuration for all packages, and not a per-p

[2018-08-03 21:41] bufferoverflow commented on #5
@dlouzan we should implement this as simple as possible. One global gitlab configuration option for publish and one for access. This requires two gitlab api calls during login and caching for access and publish groups.

[code]

Other options should stay as is.

[2018-08-06 05:49] juanpicado opened #38 "Docker Gitlab + Verdaccio Gitlab Plugin example"
With no environment is really hard to replicate issues with this plugin, it would be great to have something easy to lunch and check.

https://github.com/verdaccio/docker-examples/issues/11

[2018-08-06 08:38] dlouzan commented on #38
I'm not sure I understand the issue; the docker-compose script provided is, to my knowledge, exactly that: it launches gitlab in a container, verdaccio with verdaccio-gitlab included in another, and links them. It allows for very easy testing and debugging.

The only "problem" is that this depends on the custom verdaccio-gitlab image, but this is also now built on top of the upstream verdaccio, ju

[2018-08-06 21:45] dlouzan commented on #5
@bufferoverflow A functional version [is uploaded](
https://github.com/bufferoverflow/verdaccio-gitlab/tree/feat/gitlab-11.2-user-api-improvements)

For this initial version, I'm only applying the `min_access_level` configuration to publish operations, access operations are still using the previous logic (authenticated users are always allowed to view packages, unauthenticated only those packages

[2018-08-07 10:48] dlouzan commented on #5
After googling a bit and doing some diagrams, I think a workable approach would be to define an npm package-name-friendly prefix in the verdaccio-gitlab config and then mandate all custom, non-public registry packages to be prefixed with it. If the prefix is well chosen, the probability of collisions is minimal and it also has the advantage of making very clear which packages belong to the private

[2018-08-07 12:17] drubin commented on #5
@dlouzan  We would never be able to upgrade if you forced this level of breaking change.

Why is this an issue?  Why would you want to enforce this level of prefixes?

It's not the job of a plugin/verdacio to figure out if the package was internal or private, Its the job to match the configuration and apply the access rules.

Verdacio allows for easily overriding public packages if need be, Those,

[2018-08-07 12:45] bufferoverflow commented on #5
We never do prefix. Clever people have their scope registered upstream on npm registry already.

Just map the publish level to a configurable value with owner as default would be a first feature that I like to add. The log can provide a error message if someone with older GitLab has configured other then owner.

[2018-08-07 14:03] dlouzan commented on #5
@bufferoverflow That functionality is basically what is currently in the branch I'm working on, but the default for publish is $maintainer. Easy to change.

But I need some clarification because I don't understand how the current model can work:
- Verdaccio provides by default basically three access levels: anonymous, authenticated and specific-users. Those are statically mapped in the configurati

[2018-08-07 15:42] dlouzan commented on #5
I have just uploaded some refactorings and changed the default access level for publish to `$owner`. The behaviour in case of not providing any new configuration should be exactly the same as in the master version.

Ignore for the moment the `auth.gitlab.access` configuration: although it's parsed, the query is sent to gitlab and the two sets of groups are saved in the cache, the values are not us

[2018-08-09 12:27] bufferoverflow commented on #38
I guess we can just add a link to the `docker-compose.yml `of this repo to the existing `README.md` over here https://github.com/verdaccio/docker-examples/blob/master/README.md , so we do not duplicate configuration and reduce maintenance effort.

[2018-08-09 12:30] bufferoverflow commented on #12
I guess this is the better option https://github.com/aroundus-inc/verdaccio-github-oauth

[2018-08-09 12:32] bufferoverflow commented on #12
or even better a middleware plugin `verdaccio-oidc` for all OpenID Connect compatible providers

[2018-08-09 12:44] bufferoverflow opened #40 "add unit tests"

[2018-08-09 16:27] juanpicado commented on #12
There is a PR in verdaccio that might be useful with such functionality from the UI, but it seems a bit abandoned

[2018-08-09 17:50] dlouzan commented on #12
@juanpicado I'll be taking a look at that in the next days, thank you

[2018-08-10 05:46] juanpicado commented on #5
@dlouzan I'm working in the new JWT implementation. Currently with the AES encryption, the token is a combination of

      ? auth.aesEncrypt(new Buffer(req.body.name + ':' + req.body.password)).toString('base64')

the user name and the password (which I think is not a good idea). However, with JWT I can add more information to the token payload, which I'm thinking to add the groups, so on each re

[2018-08-10 06:16] juanpicado commented on #12
FYI
https://github.com/verdaccio/verdaccio/pull/834

[2018-08-10 07:13] bufferoverflow commented on #5
Thanks @juanpicado for the details, if adding group info, I recommend to provide individual group.access and group.publish lists. Similar to what [docker does](https://github.com/docker/distribution/blob/master/docs/spec/auth/token.md#example)

[code]

with pull, push.

[2018-08-10 07:43] juanpicado commented on #5
@bufferoverflow I'll keep on mind :) The idea is to keep backward compatibility and add a new setting to enable JWT by demand and since is new stuff we are on time to do whatever we want.

[2018-08-10 10:55] #5 closed

[2018-08-10 11:17] dlouzan commented on #5
The verdaccio plugin model uses these two signatures for access / publish:

[code]

In the `authenticate` phase, we can pass a single group set in the callback:

[code]

And the passed `userGroups` will be available in the `allow_access` and `allow_publish` calls in the `user.real_groups` parameter.

In an ideal world:
1. in the authentication phase, we transform the `userGroups` callback paramete

[2018-08-13 10:09] dlouzan commented on #11
Currently there's two cases:
- if not using the auth cache, every request is checked against gitlab and the group ownership checked, no issues, ownership changes are immediately detected
- if using the auth cache, then the configured ttl applies (default: 300 seconds)

[2018-08-13 10:12] dlouzan commented on #40
Going to use the [same framework as verdaccio (jest)](https://jestjs.io/), reading docs :-)

[2018-08-31 17:08] 2Kable opened #50 "Question: Should scope checking be case insensitive ?"
Currently scope checking is case sensitive in [verdaccio.js](https://github.com/bufferoverflow/verdaccio-gitlab/blob/435521bd866e3306cce5207ca48cf4262e7a99f0/src/gitlab.js#L174)

I usually create project and group in gitlab with an uppercase, gitlab by default create the url with the same casing.

Since lowercase URL are redirected, and group creation checks are not case sensitive (so for `GroupA`

[2018-09-03 19:12] bufferoverflow commented on #50
This makes sense, you can provide a MR if you like

[2018-09-10 10:23] marco-silva0000 opened #51 "Authentication using SSH keys/tokens"
My team uses ssh keys for pulling and pushing from gitlab.com, and I've made a docker integration that copies those from the user's .ssh folder to the docker environment, gets the private projects and moves on.

We are now experimenting with using verdaccio instead of git for som sub projects and components, and I have it working with PAT, but I can't have this in an automated way, unless we imple

[2018-09-17 07:09] Flauschbaellchen commented on #4
As the ToDo list has been removed from the README I like to know if this feature is still planned?

I currently trying to automate the publishing through gitlab-ci and the general workaround would be to login locally and copy the auth-token from .npmrc.
afterwards save it to the secret variables within gitlab-ci and setup the CI to prepopulate .npmrc.

however, as we have a huge number of packages

[2018-09-17 08:10] bufferoverflow commented on #4
Yes, this is a must have feature. I just have no time at the moment to implement or at least identify required upstream changes within gitlab... so any kind of contribution is welcome!

[2018-09-18 12:13] spangenberg commented on #4
@Flauschbaellchen I'm using [verdaccio-gitlab-ci](https://github.com/lab360-ch/verdaccio-gitlab-ci/) for this in addition to verdaccio-gitlab.

I only had to configure verdaccio-gitlab-ci before verdaccio-gitlab in the auth section.

For npm-cli-login I'm doing then this:
[code]

[2018-09-29 18:03] juanpicado commented on #4
@spangenberg I'd suggest add it to the list of plugins for more visibility https://github.com/verdaccio/verdaccio/blob/master/docs/plugins.md#authorization-plugins

[2018-10-01 11:23] nest-aka-swan opened #52 "Custom gitlab url"
Currently Dockerfile doesn't provide a way to override gitlab url because it intended to be used with own gitlab instance running via docker-compose.yml.

I think it would be great if Dockerfile allow you to use verdaccio-gitlab plugin with remote gitlab instance

[2018-10-19 10:50] dlouzan commented on #52
I'm not sure I understand your issue; the Dockerfile just uses a default `conf/docker.yaml` and copies it to the expected location of the config file for verdaccio under `/verdaccio/conf/config.yaml`. This is what is used in the docker-compose file.

If you want to overwrite the gitlab location, just provide a custom configuration file and mount it at that location on docker startup with the `--vo

[2018-10-19 11:10] dlouzan commented on #51
Gitlab does not support [interacting with the API](https://docs.gitlab.com/ce/api/README.html#authentication) with ssh keys by definition, those are used for ssh connections and the API is REST HTTP.

[2018-10-19 11:10] #51 closed

[2018-10-19 11:12] dlouzan commented on #28
@fh1ch @bufferoverflow This has been open for some time, could you give some details about the discussion?

[2018-10-19 11:15] dlouzan commented on #15
@qtiki Could you let us know if were able to solve this issue? it would be good to know if we need to add any support for this :-)

[2018-10-19 11:17] dlouzan commented on #11
@bufferoverflow Can this be closed?

[2018-10-19 12:05] #11 closed

[2018-10-20 09:39] dlouzan commented on #52
#53 documents this in the readme

[2018-10-20 09:39] #52 closed

[2018-10-20 09:47] dlouzan commented on #4
I will also add some documentation for this in the verdaccio-gitlab readme, so we close the circle :trollface:

[2018-10-20 10:52] dlouzan commented on #4
I have been reading the source code of this verdaccio-gitlab-ci plugin and it's quite small, I think we could integrate this functionality into verdaccio-gitlab if the author is ok with it. The main difference at the moment is that verdaccio-gitlab is depending on personal access tokens for authentication, and the gitlab-ci-token seems to depend somehow on the oauth2 flow, although I haven't found

[2018-10-23 14:43] qtiki commented on #15
@dlouzan IIRC I was having this issue with user authentication. I took the "easy way out" and skipped user authentication entirely. Our Verdaccio instance is accessed via a vpn so it would have been a bit redundant anyway.

As far as I'm concerned, the workaround I mentioned with the Node environment variable is the proper way to do this. It is more a problem in Node than Verdaccio as it affects p

[2018-10-23 14:43] #15 closed

[2018-10-23 15:09] dlouzan commented on #15
Thank you!

[2018-10-29 09:48] dlouzan commented on #4
It's probably not going to be that easy.

Relevant tickets in gitlab:
- https://gitlab.com/gitlab-org/gitlab-ce/issues/29566
- https://gitlab.com/gitlab-org/gitlab-ce/issues/31591
- https://gitlab.com/gitlab-org/gitlab-ce/issues/45149

[2018-10-29 10:31] dlouzan commented on #4
Also
https://docs.gitlab.com/ee/user/project/new_ci_build_permissions_model.html

[2018-11-12 10:18] dlouzan opened #55 "Inconsistent plugin handling of allow_access and allow_publish"
We found in #54 that we are inconsistently returning different `true` & `false` values when successfully returning from `allow_access` and `allow_publish`. An undocumented feature on the [verdaccio plugins handling code](https://github.com/verdaccio/verdaccio/blob/master/src/lib/auth.js#L162) distinguishes these two cases, returning `false` allows to follow the chain of plugins and pass handling t

[2018-11-15 07:30] #40 closed

[2018-11-15 12:18] dlouzan opened #57 "Improve documentation of multiple auth plugins setup"
Add a section in the README documenting how this plugin can be used with other plugins setup and the behaviour of the plugin chain after the fixes in #55

[2018-11-15 12:20] dlouzan opened #58 "Extend the allow_access logic to accept the same values as the default auth plugin"
We document that we accept the same access levels as managed by the default auth plugin, but we are missing some. Synchronize this part of the code.

Also improve documentation about the `gitlab: true` yaml element that has to be set on each package section for which the plugin shall apply.

[2018-11-15 21:33] #55 closed

[2018-11-17 12:27] bart-de-lange opened #61 "Not able to publish even though I have access"
Hi I am not able to publish a package when I have access according to the logs.

### Related logs
[code]

### Config
[code]

[2018-11-19 17:37] dlouzan commented on #61
Are you using the latest master? You might have stumbled with the issue we are tracking in #60

If that's the case, please try checking out the latest release 2.0.0 tag and let us know if it still happens.

[2018-11-19 17:41] dlouzan commented on #61
By the way I have just noticed, you are trying to map the gitlab access levels on `access` and `publish` for the package groups; that's not how the plugin currently works. You have to use in there either `$all` or `$authenticated`.

Access is allowed to all based on authenticated / not authenticated. Publish is limited based on the user id / user groups. Please read carefully the documentation.

[2018-11-21 05:41] #58 closed

[2018-11-21 10:51] dlouzan commented on #61
@bart-de-lange We merged the corrected code yesterday, please let us know if that solved your issue.

[2018-11-23 17:04] dlouzan commented on #57
This is pending a resolution of https://github.com/verdaccio/verdaccio/issues/1120

[2018-11-24 14:46] bufferoverflow commented on #61
@bart-de-lange this is not possible yet

[2018-12-03 01:18] jstarry opened #63 "Allow project maintainers to publish"
If I am a maintainer of a project but I am not the maintainer of the parent group. I should still have publish rights for npm packages that match the project name.

[2018-12-04 23:08] dlouzan commented on #63
Closed by #62

[2018-12-04 23:08] #63 closed

[2018-12-04 23:09] #61 closed

[2018-12-07 12:47] dlouzan commented on #63
v2.2.0 has been published containing this

[2018-12-07 12:53] jstarry commented on #63
Excellent, thanks!

[2018-12-14 05:29] SangHakLee opened #64 "error: must have required permissions: at package-name"
## Error case

Publishing with the following command will result in an error.

[code]
[code]

**package.json**
[code]

**verdaccio server log**
[code]

## Success case

**Based on the contents of [publish](https://github.com/bufferoverflow/verdaccio-gitlab#publish), I thought that the package name should be included in the publish group.**

- leesanghak (gitlab username)
- cloud (gitlab group name

[2018-12-14 11:04] bufferoverflow commented on #64
you should be able to publish a scoped package `@leesanghak/verdaccio-test` but not `verdaccio-test` as you do not own that group.

[2018-12-17 02:04] SangHakLee commented on #64
Thanks, @bufferoverflow

I changed the `package.json` and published it as follows.

**package.json**
[code]

---

If you run npm init with the following command, the scoped package name will be automatically generated.

[code]

[2018-12-21 08:19] bufferoverflow commented on #64
thanks for the feedback, closing this

[2018-12-21 08:19] #64 closed

[2019-02-02 20:56] blackholegalaxy opened #65 "Questions before contributing"
I'd like to add some features on this package, but I have some questions before contributing.

 1. Could you explain why we initialize a global tunnel in `src/verdaccio.js`?

2. I see despite the fact we use verdaccio `3.x` in `package.json` dependencies, we build docker image using `4.x-next` base verdaccio docker image. Could this cause instability because we build a plugin for an older version

[2019-02-04 11:09] dlouzan commented on #65
Hello, thanks for participating in the project!

1. The global tunnel is used for compatibility with corporate environments, where internal proxies are used. With no explicit configuration, it will use the `http(s)_proxy` variables from the environment (see the [official docs](https://www.npmjs.com/package/global-tunnel-ng#auto-config)).
1. The docker image is built based on 4.x because there's he

[2019-02-04 11:13] dlouzan commented on #65
Sorry I didn't fully answer your plugins question: yes, that might be the case. Although as of today we hadn't found any issues, it could happen. I'll open an issue to track this.

[2019-02-04 11:19] juanpicado commented on #65
My soul was just sold 😆 . Yes, hopefully we finish the UI along February and couple of things and we can launch a beta with no further additions for a month. Then, big release.

[2019-02-04 11:21] dlouzan opened #66 "verdaccio 3.x dependencies used in package.json but docker builds on top of 4.x"
There might be incompatibilities since the dependencies in package.json reference 3.x, but the docker image builds on top of verdaccio's 4.x image.

As of today we haven't experienced it and I haven't seen any changes to the API signatures in the 4.x feature list, but it could happen.

Reported by @blackholegalaxy in #65

[2019-02-04 11:48] blackholegalaxy commented on #65
Thanks for explainations!

[2019-02-15 23:09] mark-schaal opened #67 "Plans to separate plugin behavior from full Verdaccio installation?"
Appreciate your work here, a quick general question:

Based on your docker-compose.yml files and Dockerfile, it seems that this repository is primarily targeted at creating the full stack of services (GitLab, Verdaccio, GitLab Auth Plugin).

Do you have any plans to separate/isolate the plugin specific installation functionality at any point, or would it be better practices for consumers to implem

[2019-02-17 16:05] dlouzan commented on #67
Hello @mark-schaal, @bufferoverflow is on leave and probably will not answer until March.

I'm not sure I fully understand the question. The Dockerfile will only install verdaccio-gitlab on top of the verdaccio 4.x image. And the npm package is also available, so if you want to use the same approach as verdaccio-ldap, it's just another very simple Dockerfile on your end.

The docker-compose file i

[2019-02-20 09:03] icedream commented on #4
Hello,

this seems to have stalled for a while, so I would like to input some information as I would also like to see job tokens being supported as a way of authentication.

[node-gitlab](https://github.com/jdalrymple/node-gitlab) is being used to talk to the GitLab API, which currently does not have any directly implemented/documented support for Job Tokens, only for OAuth and Private Access Toke

[2019-02-26 02:28] icedream commented on #4
Now waiting on a new release for node-gitlab as the changes there have been merged to master.

[2019-03-09 00:10] icedream commented on #4
[node-gitlab v4.4.1](https://github.com/jdalrymple/node-gitlab/releases/tag/4.4.1) has been tagged, I am going to try and send in a pull request to run verdaccio-gitlab against this version asap.

[2019-03-10 15:50] dlouzan opened #68 "Review $all vs $anonymous behaviour"
In light of the clarifications supplied by the verdaccio team for issue https://github.com/verdaccio/verdaccio/issues/1120, we should review how we treat the default behaviour of `$all` and `$anonymous`.

Upgraded documentation in verdaccio:
- https://github.com/verdaccio/website/issues/46
- https://verdaccio.org/docs/en/authentification#understanding-groups

[2019-03-13 20:08] jbergstroem opened #69 "Issues with header/personal token"
Spent too much time debugging an issue today so I thought I'd share my findings. TBH not sure this is a bug in `verdaccio-gitlab` or in `verdaccio` itself, but this oneliner fixed it:
[code]

Steps to reproduce:

1. use user/password-style or _auth authentication in your `.npmrc`:
[code]
2. attempt to install packages: `npm i @test/foo`

3. you will now see something like:
[code]
(note: I updated

[2019-03-13 20:11] jbergstroem commented on #4
Can't wait! Will be an awesome addition.

[2019-03-14 14:19] EmadMokhtar opened #70 "What are the risks of using it on production?"
I can see **This is experimental!** when I open the repo, Is this mean this is not ready for production? and if it is ready and used in production, what are the risks of using it?

[2019-03-15 12:40] bufferoverflow commented on #69
Thanks for the report! I would appreciate a PR

[2019-03-15 12:42] jbergstroem commented on #69
I'll update the issue and potentially file a PR if there is a problem in this plugin, which I'm still not sure of :(

- if i switch to `_auth:` it seems to work, but some versions of npm has a bug using it (namely 6.7.0)
- i suspect this is about how upstream `verdaccio` handles deprecated auth mechanisms

[2019-03-15 12:43] bufferoverflow commented on #70
There are no special load tests or production environment with a large amount of users. However, I added the statement *This is experimental!* long time ago during initial release and since we fixed a lot of bugs and added test suites etc.

/cc @dlouzan What do you think?

[2019-03-18 19:04] jbergstroem commented on #69
Going to close until I can reproduce properly (and send a patch to where it belongs).

[2019-03-18 19:04] #69 closed

[2019-03-22 12:57] zerocity opened #71 "Publish access to scoped packages are to strict"
Hi,

the permission for @scope packages are to strict setup.
We are using in our setup a mono repo. (gitlab: groupName/projectNameMonoRepo).

We would like to name the @scope how our project name is called.

[code]

I did a small POC for explanation --> https://github.com/25th-floor/verdaccio-gitlab/blob/v2.3.0/src/gitlab.js#L190
for the discussion.

[2019-03-26 13:03] adepretis commented on #71
ping @bufferoverflow - any comments on this? ;-)

[2019-03-26 17:55] bufferoverflow commented on #71
I guess we have no test case for definition of  '@projectNameMonoRepo/* within config. Does it work without that definition in a similar way as described within readme ?

[2019-03-28 19:10] #70 closed

[2019-04-01 11:22] dlouzan commented on #71
I'm not sure I understand: you want to have a subproject in gitlab named `projectNameMonoRepo` sitting under `groupName`, but you'd like that this subproject name is mapped in verdaccio-gitlab to an npm scope `@projectNameMonoRepo`? what's the `/*` in the sample for? internal components of the mono-repo?

[2019-04-01 14:09] zerocity commented on #71
Yes,

like
@projectNameMonoRepo/legacy-clients
@projectNameMonoRepo/components
@projectNameMonoRepo/shared-lib
etc...

With the current setup i would be forced to create new git repos for each npm package.

@groupName/legacy-clients
@groupName/components
@groupName/shared-lib

sorry for the delayed response.

[2019-04-01 14:21] dlouzan commented on #71
Well, off the top of my head I'm wondering how to map the same project name existing in gitlab in two groups (e.g.`group1/monoRepo` and `group2/monoRepo`) to a single scope in verdaccio. Which scope should be adressed when asking for `@monoRepo/component1`?

Maybe I'm missing the point, but this looks to me as a quite particular use case, not easily generalizable between gitlab and verdaccio :-?

[2019-04-08 15:20] jbergstroem opened #72 "Empty auth leads to traceback"
In gitlab CI we currently use `_auth` to pass credentials (username/auth token as base64). While some of the CI users were testing this they forgot to pass credentials which ultimately led to a http 500. This led to some confusion since the expected reply should likely be 400 not authenticated. Steps to reproduce:

[code]

[code]

[2019-04-08 20:55] dlouzan commented on #72
I'll take a deeper look tomorrow, but I guess we just need to do some defensive programming and properly check parameters :-)

[2019-04-17 01:50] simonbuchan commented on #71
Doesn't seem too tricky *design-wise*:

[code]

That is, the `packages.*.gitlab` key (or maybe `packages.*.gitlab.publish`?) can take an object, or array of such objects, with properties:
- `level`: the membership level required
- `group`: a string pattern for what the group must be, that can contain:
  - literal text
  - `$1`, `$2`, etc., that is replaced with the match for the first, second, etc

[2019-04-18 17:49] bufferoverflow commented on #71
group and user settings are ignored, this is handled within gitlab and stated as [a goal over here](https://github.com/bufferoverflow/verdaccio-gitlab/blob/master/README.md#verdaccio-gitlab).

[2019-04-23 00:02] simonbuchan commented on #71
I'm afraid if this was a response to me, that I don't really understand it. Does it help if I clarify the above is only referring to gitlab's username, user admin state, project name, and project group name? I thought that would be implied by the fact that you're an auth provider here.

Since this is basically declaring a mapping between the group and project path and the package name, based on th

[2019-04-30 18:27] bufferoverflow commented on #71
@simonbuchan We can consider this if you provide an MR, at the moment it is as it is.

[2019-05-10 09:33] simon-jouet opened #74 "Invalid projects URL prevent authentication"
First off, thanks for verdaccio-gitlab it's been great to use!

I just migrated my gitlab from one server to another and moved verdaccio with it. At the same time I upgraded the version of both gitlab and verdaccio but I'm running into some issues now with the authentication.

Looking a bit into it I get this error from verdaccio

[code]

and looking into gitlab API logs, I noticed that url called

[2019-05-10 16:58] dlouzan commented on #67
Closing due to inactivity

[2019-05-10 16:58] #67 closed

[2019-05-10 17:57] dlouzan commented on #74
This is a quite funny effect. Seems to have been introduced by #62 but caused by the Gitlab library itself, not us. One of the changes in that PR was to use the projects API call, but somehow it builds the query to gitlab incorrectly. I wasn't myself able to reproduce the issue.

I checked the changelog of the gitlab library but didn't find anything in this direction.

@bufferoverflow @jstarry Wha

[2019-05-10 18:03] dlouzan commented on #74
@simon-jouet No sorry, my mistake, I'm diving deeper into this but I don't think the request comes from verdaccio-gitlab, the correct `projects` call is just before the funny query. I don't think the query in gitlab is coming from us, and in fact you can see in the logs that verdaccio-gitlab reports a 401 (missing auth).

Are you sure you don't have some extra plugin around querying that?

[2019-05-10 18:05] dlouzan commented on #74
Otherwise this might have to do with the latest changes in verdaccio, or the logs are out of order :-?

[2019-05-10 19:32] dlouzan commented on #74
@simon-jouet Are you by chance using `url_prefix` in verdaccio with a full url? If so, this might be a regression somehow caused by https://github.com/verdaccio/verdaccio/pull/1299

[2019-05-13 08:59] simon-jouet commented on #74
Thanks @dlouzan, getting back to you on the points you've made

Yeah no other plugins, just a docker stack for verdaccio-gitlab with verdaccio.yaml nothing else

[code]

I'm not no, I've posted the config below and I think it's a fairly out-the-box one

[code]

I would think it's something to do with the latest changes considering that the exact same config with a rollback in version is working wi

[2019-05-24 15:50] simon-jouet opened #75 "Kubernetes deployment issues"
Hi,

(this isn't a follow up to !74 but quite a different question/issue)

So i've been trying to deploy verdaccio-gitlab in a kubernetes cluster that i'm setting for our next dev environment (migrating from docker swarm). I got most things working but i'm stumbling a bit on verdaccio-gitlab and was hoping to get some insights and maybe if i'm lucky some input from people who have a kubernetes dep

[2019-05-27 09:38] simon-jouet commented on #75
Okay I think I figured out the issue, when fetching the packages the authorization token is sent, but in my case the authorization token is very very large (about 7k) which is I believe exceeding nginx buffers resulting in the query not being parsed properly in nginx logs:

`62.30.156.32 - [62.30.156.32] - - [27/May/2019:09:27:28 +0000] "-" 000 0 "https://verdaccio.mydomain/" "Mozilla/5.0 (X11; Li

[2019-05-27 11:07] simon-jouet commented on #75
Finally got it working!

By default `ingress-nginx` has http/2 enabled and the default configuration cannot cope with headers this large. I've changed my `ingress-nginx` config with `http2-max-field-size: 8k` and it's working. The issue was that with a smaller size nginx fails and closes the connection and because it's http/2 it doesn't send or log any errors (I was expecting a 414).

I think the

[2019-05-27 12:23] bufferoverflow commented on #75
@simon-jouet Thanks for the update!

GitLab differentiates between group name and group path, see also https://docs.gitlab.com/ce/api/groups.html

[2019-05-27 13:16] simon-jouet commented on #75
@bufferoverflow thanks for that, make sense, I will have a deeper look into the group api once I get this up and running :).

Regarding the duplicates in `real_groups` do you think it's an issue with the current code or it's the expected behaviour? Maybe a simple improvement for the time being would be filter out duplicates? (unfortunately I can't post the decoded base64 token here because it cont

[2019-05-27 17:01] dlouzan commented on #75
Could you paste some small sample of the duplicate entries in the `real_groups`? You don't need to paste the whole decoded token, but just to get an idea of what might be wrong.

iirc the entries in the token depend on what we return from the `authenticate` call in the plugin, verdaccio will use that I guess to fill out the token contents.

[2019-05-27 17:03] dlouzan commented on #75
Also, are you sure it's jwt what we're talking about? I thought that verdaccio 4.x required a new `jwt` config entry in the `verdaccio.yml` file to activate them, otherwise it defaulted to the legacy behaviour. I don't see it activated in your configuration but maybe I'm mixing things.

[2019-05-27 18:14] simon-jouet commented on #75
Thanks @dlouzan,

Here is the anonymised content of the token, just renamed the projects and repos but kept it consistent

[code]

I don't have JWT explicitly enabled but i'm talking about the bearer token passed when querying the packages which highly looks like a JWT token `{"alg":"HS256","typ":"JWT"}`  The config i'm using is still the one I posted previously.

[2019-05-27 19:16] dlouzan commented on #75
The `groups` duplication looks suspicious and might be a bug, but I'm still puzzled about the jwt token authentication.

@juanpicado Does this ring any bell? any idea why we're seeing jwt tokens in this configuration?

[2019-05-27 19:26] dlouzan commented on #75
Ok, maybe the documentation is a bit misleading. According to the PR that introduced JWT, it's enabled by default on API calls:\
https://github.com/verdaccio/verdaccio/pull/896

The following post also documents the expected behaviour that groups are added as payload of the token:\
https://medium.com/verdaccio/diving-into-jwt-support-for-verdaccio-4-88df2cf23ddc

So apart from the duplicated entri

[2019-06-07 07:03] bufferoverflow opened #78 "remove legacy mode"
older versions of gitlab are anyway not supported

[2019-06-10 23:27] dejan9393 opened #79 "Logging in breaks subsequent requests w/ Authorization header"
It seems that after logging in, if the authenticated GitLab user belongs to a lot of groups/projects, the JWT that is used in the Authorization header can get to a size large enough to cause `net::ERR_CONNECTION_CLOSED` errors.
Has anyone else run into this?

[2019-06-11 01:30] dejan9393 commented on #79
I've managed to find a workaround by increasing the max http header size in node and a few extra config lines for my reverse proxy (nginx):

Added
[code]

to `docker-compose.yml`

and

[code]

to the server block in my NGINX verdaccio config

[2019-06-11 07:59] dlouzan commented on #79
This looks like a duplicate of #75, we'll be taking a look at this in the next weeks, the integration with verdaccio 4.x will be improved.

Thanks for the nginx extras, that might come handy when documenting solutions for this.

[2019-06-11 07:59] #79 closed

[2019-06-14 09:14] ddsultan opened #80 "error authenticating user"
I am using our company's private Gitlab server for authentication and getting this error: `error querying gitlab user data: Cannot read property 'headers' of undefined`. I tried to change the log level of `verdaccio` to `trace` to log more information but it does not help much. What could be the problem? The logs from the plugin are not giving me pertinent information.

Any help would be really ap

[2019-06-15 06:51] bufferoverflow commented on #80
might be related to this https://github.com/bufferoverflow/verdaccio-gitlab/issues/15

[2019-06-26 10:51] StevenLangbroek commented on #75
We're having this issue as well, even with these http2 settings the UI errors out:

[code]

[2019-06-26 16:47] juanpicado commented on #75
@dlouzan sorry late to the party

@simon-jouet actually, here an snippet of the logic behind the real groups.

[code]

Why real group exist? I have NO CLUE 😆,  many things were added to Sinopia with 0 backup, 0 context. For reasons of backward compatibility were keep it all this time and I personally was more concerned about other topics. Perhaps they should be removed, I'll consider this for Verd

[2019-06-26 16:50] dlouzan commented on #75
@juanpicado I'll try to reserve some time tomorrow to take a detailed look at this, it might well be a bug from our end

[2019-06-26 16:50] juanpicado commented on #75
I updated my comment 👍 I was wrong.

[2019-06-26 16:54] dlouzan commented on #75
@juanpicado Is my assumption above right?

That would mean that by default the jwt token is the approach taken for all api calls, is this so?

[2019-06-26 18:20] juanpicado commented on #75
Nop, JWT is enabled in Web since someone developed that part by default, there is no legacy with the Web API, the CLI API is auth legacy token by default.

[2019-06-27 14:00] StevenLangbroek opened #82 "Unable to load package list: Cannot read property 'includes' of null"
After updating to 4.0.4 (with that latest docker build), I'm getting this error on our Kubernetes-hosted installation after logging in:

![image](https://user-images.githubusercontent.com/296796/60272522-a0479a00-98f4-11e9-8d7c-10dc4ad609df.png)

What info can I provide to help debug this? I'm a little lost as to where to even begin looking...

[2019-06-27 14:05] StevenLangbroek commented on #82
Is it this line? https://github.com/bufferoverflow/verdaccio-gitlab/blob/da9aba8ec88c2be4565057552d7913d3c9881de4/src/gitlab.js#L162

[2019-06-28 08:18] dlouzan commented on #82
That looks weird, I'm checking

[2019-06-28 09:54] dlouzan opened #83 "Migrate plugin to TypeScript and remove flow-type"
As suggested by @juanpicado in Discord's general channel, all core plugins are moving out of flow-type and been migrated to TypeScript.

I think it would make sense to migrate and @bufferoverflow and me also were not that impressed by flow's flow (lol).

[2019-06-28 21:42] dlouzan commented on #82
I have been doing some refactorings for v4 today and also tried running the whole gitlab - verdaccio setup in localhost both as standalone processes and docker containers. No problems, I wasn't able to reproduce your issue :-/

You'll have to give us more details about your setup:

- docker container versions for both verdaccio and / or gitlab
- running as helm chart?
- configuration details
- ...

[2019-07-02 08:37] StevenLangbroek commented on #82
We're running it in Kubernetes on GCP, using below overrides:

<details>

[code]

</details>

Is there any other info I can provide to help?

[2019-07-04 15:12] darkyat commented on #82
I am facing the exact same issues on GCP running verdaccio on a Kubernetes cluster.

At first, I was running into `net::ERR_SPDY_PROTOCOL_ERROR` errors combined with the error mentioned by @StevenLangbroek. I have now disabled http2 on the nginx-ingress-controller which cleared the `SPDY_PROTOCOL_ERROR` in favour of a `400 (Bad Request)`:

![Screenshot 2019-07-04 at 17 09 51](https://user-images.g

[2019-07-04 19:16] bufferoverflow commented on #83
I would love to see this and contributions to get it done.

[2019-07-04 21:16] juanpicado commented on #83
:) I have time ...

[2019-07-05 13:45] atton16 opened #85 "Uncaught SyntaxError: missing ) after argument list"
Hi, I install this package using `docker pull bufferoverflow/verdaccio-gitlab:latest` and I got the image which is built 8 days ago. It seems that something is broken, the web page loaded in plain white. I have been using this package for months and this is the first time I updated it and not the web app is broken. Please help.

<img width="1440" alt="Screen Shot 2019-07-05 at 20 43 18" src="https

[2019-07-07 09:27] atton16 commented on #85
It appears that if the `config.yaml` file contains **apostrophe** character the UI will fail to initialize. I am working around by simple change the string to not contain such character.

For the sake of development, I will leave this issue opened.

[2019-07-08 10:47] dlouzan commented on #85
Hello @atton16, this might be the same issue as #82, but I'm still not able to reproduce it :-?

I have just pulled the same docker image and started it, no exceptions in the browser logs when loading the UI.

Could you maybe give some more detailed info about your env and how do you trigger this?

[2019-07-08 10:47] dlouzan commented on #85
And by the way I just used the stock config in the image, which contains apostrophes for some entries, no issues.

[2019-07-09 15:30] StevenLangbroek commented on #82
@dlouzan @bufferoverflow how can we help debug this further?

[2019-07-10 07:14] StevenLangbroek commented on #82
So I noticed that pipe character after `configMap`, when I parse this YAML to JSON, that means that the nodes below it, for which the indentation suggests they should be children of `configMap`, don't end up below it but on the same (top) level... Could that be the problem?

[2019-07-10 07:16] StevenLangbroek commented on #82
(we based our config on https://github.com/helm/charts/blob/master/stable/verdaccio/values.yaml btw, so if that's the problem I can submit a fix upstream)

[2019-07-10 07:23] StevenLangbroek commented on #82
Correction: this leads the entire `configMap` to be considered a string:

![image](https://user-images.githubusercontent.com/296796/60948924-5ac39d80-a2f4-11e9-810a-4d94b826eefc.png)

[2019-07-10 12:55] atton16 commented on #85
Well, can you please try with `title` like `"atton16's test registry"`

[2019-07-12 19:56] MumblesNZ commented on #82
We have this bug as well. Any chance you can create a tag in docker for the previous version so we can use this in the meantime until the bug in latest is fixed?

[2019-07-13 18:53] dlouzan commented on #82
@StevenLangbroek I haven't been able to reproduce this locally so I guess it must have something to do with Kubernetes or the Helm chart, or maybe Verdaccio 4 final on Kubernetes. IIRC what you see in the code above is expected, the `configMap` is included as a string.

@bufferoverflow I don't think I have rights on the docker hub, could you maybe create the tag for the previous version as @Mumble

[2019-07-13 19:10] dlouzan commented on #85
Ah ok, sorry, I misunderstood your report :-) We might have some error in the parsing (or maybe verdaccio itself, since I don't recall that we parse that directly ourselves)

[2019-07-15 18:42] MumblesNZ commented on #82
@dlouzan FYI we are using docker CE and docker-compose to spin it up and are getting this issue.

[2019-07-17 19:44] dlouzan commented on #82
@MumblesNZ any chance you can share the docker-compose file or explain your configuration so that we can reproduce it? I wasn't able to reproduce it locally, and you saying you can trigger it via raw docker without kubernetes would help

[2019-07-17 20:45] MumblesNZ commented on #82
Hey @dlouzan ,

Our Verdaccio config file (named docker.yml) looks like this:

[code]

and our docker-compose file looks like this:

[code]

We login on the command line, push a package to @Demo/test-repo. Our user has owner privileges on @Demo group & @Demo/test-repo repository on gitlab. When we login via the web dashboard, we experience the original error.

[2019-07-19 07:52] icedream commented on #4
Hello,

just a little update as I finally got to testing package publishing. The current patches I sent in here are in fact not sufficient to allow for the CI login to be able to publish packages. Reason is that verdaccio-gitlab only checks for GitLab groups a user is assigned to and compares them against the parts of which the package name to publish is made of (so for `@group/package` it would c

[2019-07-23 06:56] StevenLangbroek commented on #82
@dlouzan @bufferoverflow is there anything we can do to help figure out what's causing this?

[2019-07-26 19:26] dlouzan commented on #82
@MumblesNZ @StevenLangbroek @bufferoverflow I have just tagged versions `2.0.0` and `2.2.0` in the docker hub, with some caveats:

- Since we were one of the first plugins to start using 4.x verdaccio functionality, we *naively* depended on the verdaccio version `verdaccio:4.x-next`, which was similar to `latest` but for the 4.x branch
- We have no reproducibility since there was some issue with t

[2019-07-26 20:53] MumblesNZ commented on #82
@dlouzan thanks for that.

It's working fine for me with my setup as above for version 2.0.0. Error is still occurring in version 2.2.0.

[2019-07-27 14:13] dlouzan commented on #82
@MumblesNZ Well, that at least gives us a hint that maybe it wasn't the migration to final 4.x in the `verdaccio:4.x-next` branch, but something we did in the verdaccio-gitlab codebase.

@StevenLangbroek I really hope that v2.0.0 also works temporarilly for you as it did for @MumblesNZ

[2019-07-29 07:03] StevenLangbroek commented on #82
@dlouzan we're fine for now, have a version-pinned one running stable. I'd just like to help figure out what's going on.

[2019-07-30 11:04] buffcode commented on #75
Please bear in mind that while reducing the JWT size might resolve the issue for some/most users, this won't be a permanent fix.
In large(r) GitLab instances a user just need to have access/be maintainer of enough groups to trigger this issue again.

Could there be any other solution despite dropping everything into the JWT? Eg. configure a separate storage (defaults to JWT) for those information.

[2019-08-08 08:06] StevenLangbroek commented on #82
@dlouzan @bufferoverflow any word on this? can we help creating a repro?

[2019-08-08 12:32] ThisIsMissEm commented on #82
Hunted down the source of this error, but it may not be the whole story. Essentially verdaccio's UI code doesn't handle errors all that well: https://github.com/verdaccio/ui/pull/112

[2019-08-12 23:37] jojoxd opened #89 "UncaughtPromiseRejectionWarning: Error: `token` (private-token) or `oauth_token` is mandatory on startup"
Hi, when starting the service, I get the following error;

[code]

Node Version: v12.8.0
Yarn Version: 1.17.3
OS: CentOS 7

I am trying to run the service as a systemd service, and have tried running it as the user itself.

these are my configurations:

[code]

[code]

I have run the `yarn install` job manually, and am running on the v2.2.0 tag. (master does the same).

The /run/verdaccio/verdacci

[2019-08-13 10:08] jojoxd commented on #89
It seems to only do this when using the clone-way of running verdaccio-gitlab.
With a fresh CentOS install, on the same versions as the other server, I got it to work using the following;

[code]

using these steps (and ofcourse setting up the www-data user/group, nginx, systemd unit etc.) I got it to work.

[2019-08-15 16:13] dimmduh opened #90 "Can not see my packages in web UI"
Can only see when set access to $all and not loggined, when I login - I can not see repos any more

[2019-08-15 18:47] juanpicado commented on #90
@dimmduh could you provide more info? Configuraiton, enviornment, verdaccio version and plugin version. Causes might be multiple and we need all you can provide to give you the best guidance.

[2019-08-16 22:41] KRKroening commented on #90
I'm encountering the same problem in my project. Can log in and publish with my gitlab credentials fine. If my config is set to `access:$all`, then I am able to see my package(author is listed as Anonymous even though `publish: $authenticated`). If `access: $authenticated`, neither logged in or not can see my package.

[code]

I'm running verdaccio-gitlab v2.2.0, locally in a docker swarm behind a

[2019-08-17 00:20] dimmduh commented on #90
my problem in nginx before verdaccio
the url "-/verdaccio/packages" does not load on main page, but if I open this url direct it works.

I use https, and all urls to static goes like http:// , chorme browser blocks these requests

[2019-09-04 15:08] Telokis opened #93 "Whitelist specific group/project"
Would it be possible to have a way to only allow specific group or projects (or both) so that nobody can publish his own package on my registry?

From what I understood, the current behavior is to allow any gitlab user to authenticate to my verdaccio using his gitlab credentials and then publish any package he owns. Meaning that a user finding my registry can use it to publish his own packages wit

[2019-10-18 15:30] jaredvacanti commented on #4
Is there a distinction between having the Gitlab CI be able to publish packages to a verdaccio instance and having the CI/CD tool pull from private verdaccio registry (authenticated publishing vs authenticated pulling)? Is this PR (not quite a PR, but the gist mentioned by @icedream) required for both?

[2019-11-04 13:50] Telokis commented on #93
Any feedback on this issue, please?

[2019-11-07 05:19] bufferoverflow commented on #93
You could do someting like this

[code]

[2019-11-07 09:12] Telokis commented on #93
@bufferoverflow Thank you for your answer!
By doing it like so, nobody would be able to publish anything to the registry (scoped or not scoped) except for people with access to the `telokis-group` group?

[2019-11-07 09:16] bufferoverflow commented on #93
@Telokis exactly

[2019-11-07 09:16] #93 closed

[2019-11-07 10:18] Telokis commented on #93
Thank you very much, I will try this ASAP!

[2019-11-14 10:33] lddsb commented on #90
It's the same issue here, It's the console when I open main page:
![image](https://user-images.githubusercontent.com/20765867/68849552-41e94f80-070d-11ea-9ae0-2365cc2ca994.png)

[2019-11-14 10:35] lddsb commented on #90
I can see the packages if I set `access: $all` and nologin

[2019-11-14 13:30] bufferoverflow commented on #83
awesome @juanpicado did it, thank you so much!

[2019-11-14 13:30] #83 closed

[2019-11-17 20:58] #80 closed

[2019-11-18 17:31] Telokis opened #99 "Access to custom scope based on specific gitlab group"
I'm trying to allow a custom package prefix based on the same group.

Let's say that `telokis-group` really exists on Gitlab (and I have full access to it).
I would like to allow a totally unrelated (possibly already existing) scope based on the same permission.
Trying the following config gives me `403` error when I try to publish a package to `@totally-different-group`.
[code]

The error I get i

[2019-11-18 18:31] bufferoverflow commented on #99
you need to own the group to publish, see https://github.com/bufferoverflow/verdaccio-gitlab#publish

[2019-11-18 18:31] #99 closed

[2019-11-18 18:46] Telokis commented on #99
Thanks. Is there any way I could find a way around this? Even if it implies forking verdaccio-gitlab.

[2019-11-18 19:04] bufferoverflow commented on #99
get owner of that group and you are done.

There might be a way and if you've found a good one, please create a PR

[2019-11-18 20:34] Telokis commented on #99
From what I understand, I could remove the function `allow_publish` from `verdaccio-gitlab` and the default behavior of `verdaccio` would be used.
The default behavior is to be based on the groups of the user meaning that I could be allowed because I'm in the `telokis-group` group

[2019-11-19 10:23] Telokis opened #100 "Security concerns"
I am currently trying to implement #99 and noticed that anybody can access any package as long as they are authenticated through Gitlab. (https://github.com/bufferoverflow/verdaccio-gitlab/blob/v2.2.0/src/gitlab.js#L158)

From what I understand, to check whether the user is allowed to access a package or not, we only check if its user is set.

There is no verification made to ensure the user is ac

[2019-11-19 11:40] Telokis commented on #100
For the specific security concern I mentionned above, I choose this approach:

- Both `allow_access` and `allow_publish` use a method `allow_action` with different arguments.
- Added the special `$owned-group` permission that ensures the package is properly accessible by the user on Gitlab. This is the default behavior of `allow_publish` in the current code.
- Added handling of `$authenticated` pr

[2019-11-19 11:49] Telokis commented on #99
@bufferoverflow Would you mind reopening this issue, please? I'll provide a PR to allow it with a custom config variable.

[2019-11-19 16:20] #78 closed

[2019-11-20 09:59] haritonstefan commented on #90
I had the same issue.
Upon investigation I concluded that it fails when a specific user has access to too many groups.
Verdaccio is sending the authorized user in headers, which became too big.

![image](https://user-images.githubusercontent.com/2504457/69228957-1bb52b00-0bb7-11ea-8f1b-2c953d6a2654.png)

[2019-11-21 09:04] Telokis commented on #100
@bufferoverflow @dlouzan May I ask some feedback on this, please?

[2019-11-25 12:02] slhck opened #102 "Separate plugin project?"
Great job on this project! I was just wondering … the Docker Compose file specifically includes GitLab, but there might be a use case (and perhaps it's more common) where a GitLab instance already exists, and one would just like to run Verdaccio with the plugin. Or, you'd just like to add the plugin to an existing Verdaccio instance. Do you think it would make sense to split this project into a de

[2019-11-28 14:25] stremlau commented on #90
More discussion related to this issue can be found here: https://github.com/bufferoverflow/verdaccio-gitlab/issues/75

[2019-11-29 05:59] bufferoverflow commented on #102
Thanks for the feedbakc!
The verdaccio plugin can be installed via npm, there is a docker image you can use to have verdaccio with this plugin up and running, see https://github.com/bufferoverflow/verdaccio-gitlab#docker (custom configuration options are also possible). The docker-compose file is for testing and demo purpose. So I do not really see what's missing. Please reopen if you need more de

[2019-11-29 05:59] #102 closed

[2019-12-04 17:16] GFWagnitz commented on #75
I encountered this problem when using a cluster with Nginx Ingress Controller. But when I configured it on a K8s cluster that uses Traefik the listing worked ok at first but now I'm getting 400 (Bad Request) at every request .

[2019-12-08 10:04] bufferoverflow commented on #20
I was think again about this and the #103 PR. If we allow this we need a configuration flag, e.g. something like `userCaseSensitive` which will be enabled by default. Otherwise people could publish things that should belong to others. e.g. publish to group `good` with username `Good` is not that nice.

/cc @GFWagnitz @lando-cal

[2019-12-08 16:33] lando-cal commented on #20
Unfortunately, I don't have the time to implement that. While I'm happy to contribute alterations to any projects I work with professionally, sustained development on exterior projects is a tough sell while working in the public sector. Oh, how I do miss the pace of start-ups now and then!

Anyhow, I'm happy to test any further revisions in our environment, and send up any resulting tweaks, but th

[2019-12-09 11:46] GFWagnitz commented on #20
Agreed, I can implement the config flag no problem until next week and add on the #103 PR.

[2019-12-09 14:49] Telokis commented on #20
@bufferoverflow Is this something that could really occur?

[2019-12-10 00:53] GFWagnitz commented on #20
@bufferoverflow @Telokis Actually I just noticed can't happen. If you try to create an account with an username that already is a group it says "username already taken", and the other way is also true. If you try to name a group with an existing username it says "group name already taken". And of course it is this way because of conflict on the URL, since user and group URL are case insensitive.

[2019-12-10 05:20] bufferoverflow commented on #20
Thank's for clarification @GFWagnitz ! I've merged your PR.

[2019-12-10 09:34] Telokis commented on #20
Can't there be an issue with the user "display name"?

For example, my username could be "telokis" and that's what I would use to login but my display name could be "Good".
Depending on the way verdaccio-gitlab handle this, it could allow me to access the "Good" group as if it were mine.

I don't think it's the case but I want to be sure.

[2019-12-10 10:30] bufferoverflow commented on #20
@Telokis We do not use the display name so should not be an issue. But I agree you can put whatever name as display name and the URL and username will be the only thing to trust.

[2019-12-20 08:57] bufferoverflow commented on #50
user is cas incensitive now, see https://github.com/bufferoverflow/verdaccio-gitlab/pull/103/files

[2019-12-20 08:57] #50 closed

[2019-12-20 09:41] bufferoverflow commented on #85
seems not related to verdaccio-gitlab

[2019-12-20 09:41] #85 closed

[2019-12-20 09:54] bufferoverflow commented on #66
now everything is on 4

[2019-12-20 09:54] #66 closed

[2019-12-20 09:55] bufferoverflow commented on #65
closing this as we are on 4 now

[2019-12-20 09:55] #65 closed

[2019-12-26 14:42] #10 closed

[2020-01-05 11:27] bufferoverflow commented on #7
closed with #111

[2020-01-05 11:27] #7 closed

[2020-02-24 11:31] ZaLiTHkA opened #113 "Can we explicitly whitelist GitLab users that can login?"
Greetings, I'm looking to set up a cloud container instance using `verdaccio-gitlab`, but I don't want to leave this open to anyone with a GitLab account, so I need to limit the users who are allowed to log in to Verdaccio to only my development team.

I don't see anything in the readme or in any existing issues, so just to check, is this possible with this plugin? For example, to restrict logins

[2020-02-24 11:59] ZaLiTHkA commented on #113
On second thoughts, perhaps I'm not approaching this scenario correctly..

Through the standard configuration options available in Verdaccio's, I can limit package access to authenticated users, then I can simply create accounts for each person who should have access to them and then disable user registration.

In which case, it seems this plugin is actually _appropriate_ for my specific Verdaccio

[2020-02-24 11:59] #113 closed

[2020-03-10 21:24] bufferoverflow commented on #100
see https://github.com/bufferoverflow/verdaccio-gitlab/pull/101#issuecomment-597325043

[2020-03-10 21:24] #100 closed

[2020-04-19 21:54] manasatest opened #115 "Verdaccio gitlab authentication"
I'm trying to get gitlab authentication and it always fails with following error. I'm using the PAT for the login. Verdaccio version -4.0.2. Can someone help with it?

0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/Cellar/node/11.8.0/bin/node',
1 verbose cli   '/usr/local/bin/npm',
1 verbose cli   'login' ]
2 info using npm@6.5.0
3 info using node@v11.8.0
4 verbose npm-session 5ae

[2020-05-26 12:43] himanshu199728 opened #117 "Need better documentation"

[2020-05-28 13:47] suenot commented on #90
Have the same error.

[2020-05-28 15:24] suenot opened #118 "Adding plugin to existing verdaccio"
How add this plugin to existing verdaccio?

[2020-05-29 05:43] juanpicado commented on #118
@suenot what do you mean with 'add' ? as dependency or something else?

[2020-05-29 07:59] suenot commented on #118
How it realized in [verdaccio official documentation](https://verdaccio.org/docs/en/plugins).
Like as: ```npm install --global verdaccio-gitlab```

[2020-05-29 19:42] suenot commented on #93
Situation: Hacker create ```babel``` group on gitlab with project ```plugin-proposal-decorators```. Then add @babel/plugin-proposal-decorators to my registr? And then my projects pull virus... This is a hole in security. Need mechanism to close access to people not in whitelist (gitlab group) to push any projects in registr.

[2020-05-31 05:28] juanpicado commented on #118
Ok cool, :) then problem solved. I'm closing this.

[2020-05-31 05:28] #118 closed

[2020-06-28 07:21] juanpicado commented on #117
Could you document what exactly is painful for you? what exactly need to be improved?

[2020-08-23 00:02] zanechua opened #120 "Overly strict access level mappings"
Thanks for the work on the gitlab plugin. It works great and is easy to setup.

However, I realised that the access for publishing is pretty limited as outlined in the documentation.

I feel that the access level mapping is a little too strict for a private npm registry. It's great that those rules are able to be defined but are they even necessary? Is there any particular reason that the access r

[2020-08-25 11:14] bufferoverflow commented on #120
Yes, this should be handled by the people maintaining the verdaccio instance. Overwriting packages could be an issue and security risk for other using the same verdaccio instance.

[2020-08-25 11:14] #120 closed

[2020-08-25 15:42] zanechua commented on #120
I do understand that overwriting packages that use the same name could be an issue and security risk. But I'm making the assumption that most verdaccio instances are for internal use only. Hence the private npm registry and that would've been communicated to the team using the instance.

After I posted, I realised that the way you mapped is it basically assuming that if you own the `url` path of a

[2020-09-07 16:23] Nielio commented on #4
Thank's to @spangenberg i got it!

[code]

[code]

[code]

[2021-01-29 01:26] Roboroads commented on #75
My header is over 18k with this plugin - our company has a group with a huge list of repositories (in subgroups as well). I might be abple to PR a solution by saving the details of the group in another way, like a database.

[2021-01-29 08:58] juanpicado commented on #75
Seems related https://github.com/verdaccio/verdaccio/discussions/2068

[2021-02-03 09:12] DustInCompetent commented on #117
One thing I'm missing is which scopes must be set for the Access Token. Just `read-user` and `read-api` seems to be working for me but it should be in the docs

[2021-02-07 10:03] JokerKu opened #122 "I can publish but I can't access"
this is my config.yaml

`
  '@tt-private/*':
    access: $authenticated
    publish: $authenticated
    #proxy: npmjs
    gitlab: true

  '@*/*':
    access: $all
    publish: $authenticated
    proxy: npmjs

  '**':
    access: $all
`

now,I can successfully push the package but when I  login in and look at the page , it was empty ,
if I login out and refresh the page ,I can see the packages.

pl

[2021-02-15 17:59] igorpupkinable commented on #93
You can restrict publishing with the following config:
[code]

[2021-03-10 05:06] dejan9393 opened #125 "GitLab API results are not cached, causes high CPU usage on GitLab server"
I've run into an issue where my private GitLab instance is flooded by requests from verdaccio GitLab, forcing 6 cores to all run at 100% capacity due to the `puma` workers in GitLab.

The promises for the GitLab API calls for `GitlabAPI.users.current()`, `GitlabAPI.Groups.all`, and `GitlabAPI.Projects.all` could be cached to avoid spamming the GitLab API with multiple similar requests

[2021-03-30 08:36] as3mbus opened #127 "Can't Access Private gitlab server"
i am trying to integrate private gitlab instance with verdaccio using this plugin. and yes i'm still far from understand on how verdaccio plugin works

so far what i've done is :
1. install gitlab verdaccio package
2. add gitlab auth plugin
3. setting the url to http://192.168.0.16

but when i try to login using private access token the web interface only shows `unable to sign in`.

i've tried to

[2021-04-15 09:17] bbenoist opened #129 "Remove deprecated dependencies"
[code]

[2021-07-05 09:19] Xumengxiang opened #133 "Cannot install leveldown"
npm ERR! code ELIFECYCLE
npm ERR! syscall spawn
npm ERR! file sh
npm ERR! errno ENOENT
npm ERR! leveldown@5.6.0 install: `node-gyp-build`
npm ERR! spawn ENOENT
npm ERR!
npm ERR! Failed at the leveldown@5.6.0 install script.
npm ERR! This is probably not a problem with npm. There is likely additional logging output above.

npm ERR! A complete log of this run can be found in:
npm ERR!     /root/.npm

[2021-10-26 11:59] pysiekytel commented on #90
To workaround that fully set `NODE_OPTIONS: "--max-http-header-size=32768"` environmental variable to `verdaccio`
If you are using `nginx` as proxy to `verdaccio` you have to tune also your `vhost`:
[code]